	<h2 class="section-title">Checkout</h2>

<div class="row">
	<div class="col-12">
		<form action="{$baseurl}user/order/makeOrder" method="post" enctype="multipart/form-data">
		<div class="card">
			<div class="card-body">
				<div class="form-group row mb-4">
					<label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Namamu</label>
					<div class="col-sm-12 col-md-7">
						<input type="text" class="form-control" name="nama" placeholder="Input nama kakak ya .." required>
					</div>
				</div>

				<div class="form-group row mb-4">
					<label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Makan Dimana?</label>
					<div class="selectgroup col-sm-12 col-md-7">
					<label class="selectgroup-item">
						<input type="radio" name="dimana" value="Dine in" class="selectgroup-input" required>
						<span class="selectgroup-button">Dine in</span>
					</label>
					<label class="selectgroup-item">
						<input type="radio" name="dimana" value="Takeaway" class="selectgroup-input" required>
						<span class="selectgroup-button">Takeaway</span>
					</label>
					</div>
				</div>

				<!-- <div class="form-group row mb-4">
					<label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
					<div class="col-sm-12 col-md-7">
						<textarea class="form-control" name="catatan" placeholder="Tuliskan catatan pesanan kakak disini ya .." required></textarea>
					</div>
				</div> -->
				
			</div>
		</div>

		<div class="card">
			<div class="card-body" style="padding: 20px 100px 0px 100px;">
				<table class="table" border="0" style="width: 100%;">
					<thead>
					  <tr>
						<th colspan="2" style="width: 50%; font-size: 18px;">Menu Dipesan</th>
						<th class="text-center" style="width: 15%;">Harga Satuan</th>
						<th class="text-center" style="width: 15%;">Jumlah</th>
						<th class="text-center" style="width: 20%;">Subtotal Menu</th>
					  </tr>
					</thead>
					<tbody>
						{foreach $isiCart as $item}
						<tr>
							<td style="width: 7%;">
								{if $item.img != NULL}
								<div style="width: 50px; height: 35px; background-image: url({$baseurl}assets/img/menu/{$item.img}); background-size: cover;"> </div>
								{else}
								<div style="width: 50px; height: 35px; background-image: url({$baseurl}assets/img/example-image.jpg); background-size: cover;"> </div>
								{/if}
							</td>
							<td class="text-left" style="text-align: left;">{$item.name}</td>
							<td class="text-center">Rp {$item.price|number_format:0:',':'.'}</td>
							<td class="text-center">{$item.qty}</td>
							<td class="text-center"><b>Rp {$item.subtotal|number_format:0:',':'.'}</b></td>

							<!-- form data post -->
							<input style="display: none !important;" id="jalur" type="text" name="idMenu[]" value="{$item.id}">
							<input style="display: none !important;" id="jalur" type="text" name="qty[]" value="{$item.qty}">
							<input style="display: none !important;" id="jalur" type="text" name="subtotal[]" value="{$item.subtotal}">
						</tr>
						{/foreach}

						<tr style="border-top: 2px dotted #FDC257; background-color: #FAFDFF;">
							<td colspan="3" style="padding: 20px 40px 0 40px; border-right: 2px dotted #d8d8d8;">
								<div class="form-group row mb-4">
									<label>Catatan</label>
									<input type="text" class="form-control" name="catatan" placeholder="(Opsional) Tuliskan catatan pesanan kakak disini ya ..">
								</div>
							</td>
							<td colspan="2" class="text-center">Total Pesanan ({$totalCart} Menu): &ensp;<span style="color: #FFA426; font-size: 20px; font-weight: bold;">{$total}</span></td>
							<input style="display: none !important;" id="jalur" type="text" name="total" value="{$total}">
						</tr>

						<tr style="border-top: 2px dotted #d8d8d8; background-color: #FAFDFF;">
							<td colspan="3" style="padding: 20px 40px 0 40px;"></td>
							<td colspan="2" class="text-center">
								<div class="form-group row mb-4" style="margin-top: 25px;">
									<label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
									<div class="col-sm-12 col-md-7">
										<button type="submit" class="btn btn-lg btn-warning"><i class="far fa-edit"></i> Buat Pesanan</button>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
					
				  </table>

			</div>
		</div>

		</form>
	</div>
</div>

<script>
	document.getElementById('hargaInput').addEventListener('input', function(event) {
		// Get the entered value
		let inputValue = event.target.value;
		
		// Remove any non-numeric characters
		inputValue = inputValue.replace(/\D/g, '');
		
		// Convert the number to IDR currency format
		inputValue = new Intl.NumberFormat('id-ID', { style: 'currency', currency: 'IDR', minimumFractionDigits: 0, maximumFractionDigits: 0 }).format(inputValue);
		
		// Remove the "Rp" prefix
		inputValue = inputValue.replace(/^Rp\s*/, '');

		// Update the input value
		event.target.value = inputValue;
	});
</script>