
        <h2 class="section-title">Daftar Menu</h2>
        <p class="section-lead">Silahkan pilih menu di bawah ..</p>

    <div class="row">
        {foreach $daftarMenu as $item}
            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <article class="article">
                    <div class="article-header">
                        {if $item.img != NULL}
                            <div class="article-image" data-background="{$baseurl}assets/img/menu/{$item.img}">
                        {else}
                            <div class="article-image" data-background="{$baseurl}assets/img/example-image.jpg">
                        {/if}
                    </div>
                    <div class="article-title">
                        <h2><a href="#">{$item.menu}</a></h2>
                    </div></div>

                    <div class="article-details">
                        <div class="article-title">
                            {if $item.diskon == NULL}
                                <h4>Rp {$item.harga|number_format:0:',':'.'}</h4>
                            {else}
                                <span style="text-decoration: line-through;">Rp {$item.harga|number_format:0:',':'.'}</span><h4>Rp {($item.harga - $item.diskon)|number_format:0:',':'.'}</h4>
                            {/if}
                        </div>

                        <p>{$item.deskripsi}</p>

                        <div class="article-cta">
                            {if $item.diskon == NULL}
                                <button class="btn btn-primary add-to-cart" data-id="{$item.id_menu}" data-qty="1" data-price="{$item.harga}" data-name="{$item.menu}" data-img="{$item.img}">+ Order</button>
                            {else}
                                <button class="btn btn-primary add-to-cart" data-id="{$item.id_menu}" data-qty="1" data-price="{$item.harga - $item.diskon}" data-name="{$item.menu}" data-img="{$item.img}">+ Order</button>
                            {/if}
                        </div>
                    </div>
                </article>
            </div>
        {/foreach}
    </div>

</div>

<div class="section-header" style="position: sticky; bottom: 0; background-color: #fff; z-index: 1000;">
    <div class="section-header-breadcrumb">
        <span style="color: #0B5E91;">Keranjang:</span>
        <div class="cart-float section-header-breadcrumb" id="cart-notification">
            <div style="display: flex; flex-basis: 15%; padding: 10px; color: #0B5E91; align-items: center; justify-content: center;">
                <div class="cart-icon">
                  <i class="fas fa-shopping-basket" style="font-size: 28px;"></i>
                  <span id="cart-items-count" class="cart-count"></span>
                </div>
            </div>
            <div id="cart-subtotal" style="display: flex; flex-basis: 50%; align-items: center; color: #0B5E91; justify-content: center;">
                
            </div>
            <a id="checkout-link" href="{$baseurl}user/cart" class="btn btn-primary" style="display: flex; flex-basis: 35%; color: white; align-items: center; justify-content: center;">
                Checkout
            </a>
        </div>
    </div>
</div>

<!-- <div class="cart-float" id="cart-notification">
    <div style="display: flex; flex-basis: 15%; padding: 10px; color: #0B5E91; align-items: center; justify-content: center;">
        <div class="cart-icon">
        <i class="fas fa-shopping-basket" style="font-size: 28px;"></i>
        <span id="cart-items-count" class="cart-count"></span>
        </div>
    </div>
    <div id="cart-subtotal" style="display: flex; flex-basis: 50%; align-items: center; color: #0B5E91; justify-content: center;">
        
    </div>
    <a id="checkout-link" href="{$baseurl}user/cart" class="btn btn-warning" style="display: flex; flex-basis: 35%; color: white; align-items: center; justify-content: center;">
        Checkout
    </a>
</div> -->