<h2 class="section-title">Ambil Order</h2>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<div class="form-group row mb-4">
					<label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Nama Customer:</label>
					<div class="col-sm-12 col-md-7">
						<input type="text" class="form-control" name="nama" value="{$order.pelanggan}" readonly>
					</div>
				</div>

				<div class="form-group row mb-4">
					<label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Catatan:</label>
					<div class="col-sm-12 col-md-7">
						<input type="text" class="form-control" name="nama" value="{$order.catatan}" readonly>
					</div>
				</div>
				
			</div>
		</div>

		<div class="card">
			<div class="card-body" style="padding: 20px 100px 0px 100px;">
				<table class="table" border="0" style="width: 100%;">
					<thead>
					  <tr>
						<th colspan="2" style="width: 50%; font-size: 18px;">Menu Dipesan</th>
						<th class="text-center" style="width: 15%;">Harga Satuan</th>
						<th class="text-center" style="width: 15%;">Jumlah</th>
						<th class="text-center" style="width: 20%;">Subtotal Menu</th>
					  </tr>
					</thead>
					<tbody>
						{foreach $listItem as $item}
						<tr>
							<td style="width: 7%;">
								{if $item.img != NULL}
								<div style="width: 50px; height: 35px; background-image: url({$baseurl}assets/img/menu/{$item.img}); background-size: cover;"> </div>
								{else}
								<div style="width: 50px; height: 35px; background-image: url({$baseurl}assets/img/example-image.jpg); background-size: cover;"> </div>
								{/if}
							</td>
							<td class="text-left" style="text-align: left;">{$item.menu} | {$item.catatan}</td>
							<td class="text-center">Rp {$item.harga|number_format:0:',':'.'}</td>
							<td class="text-center">{$item.qty}</td>
							<td class="text-center"><b>Rp {$item.subtotal|number_format:0:',':'.'}</b></td>
						</tr>
						{/foreach}

						<tr style="border-top: 2px dotted #0B5E91; background-color: #FAFDFF;">
							<td colspan="3" style="padding: 20px 40px 0 40px; border-right: 2px dotted #d8d8d8;">
								<div class="form-group row mb-4"></div>
							</td>
							<td colspan="2" class="text-center">Total Pesanan ({$qtyOrder} Menu): &ensp;<span style="color: #0B5E91; font-size: 20px; font-weight: bold;">Rp {$order.total|number_format:0:',':'.'}</span></td>
						</tr>

						<tr style="border-top: 2px dotted #d8d8d8; background-color: #FAFDFF;">
							<td colspan="3" style="padding: 20px 40px 0 40px;"></td>
							<td colspan="2" class="text-center">
								<div class="form-group row mb-4" style="margin-top: 25px;">
									<label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
									<div class="col-sm-12 col-md-7">
										{if $order.status == 'Order Selesai'}
											<button class="btn btn-md btn-outline-primary" disabled><i class="far fa-check"></i> Order Selesai</button>
										{else}
											<button class="btn btn-md btn-outline-danger" disabled><i class="far fa-check"></i> Order Dibatalkan</button>
										{/if}
									</div>
								</div>
							</td>
						</tr>
					</tbody>
					
				  </table>

			</div>
		</div>
	</div>
</div>
