
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
	<title>Digital Student Lounge</title>
  	<link rel="shortcut icon" href="{$baseurl}assets/img/food-icon.png" />

	<!-- General CSS Files -->
	<link rel="stylesheet" href="{$baseurl}assets/modules/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="{$baseurl}assets/modules/fontawesome/css/all.min.css">
  
	<!-- CSS Libraries -->
	<link rel="stylesheet" href="{$baseurl}assets/modules/jquery-selectric/selectric.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<link rel="stylesheet" href="{$baseurl}assets/modules/izitoast/css/iziToast.min.css">
  
	<!-- Template CSS -->
	<link rel="stylesheet" href="{$baseurl}assets/css/style.css">
	<link rel="stylesheet" href="{$baseurl}assets/css/components.css">

	<style>
		@media (max-width: 724px) {
			.qty-width {
				width:max-content;
			}
		}
	</style>
</head>

<body>
	<div id="app">
		<div class="main-wrapper main-wrapper-1">
			
			{include $header_view}

			{include $sidebar_view}

			<!-- Main Content -->
			<div class="main-content">
				<section class="section">
					<!-- Main Content -->
					<div class="section-body" style="margin-top: 50px;">

					{include $template_content}

				</section>
			</div>

			{include $footer_view}
			