
<!-- <footer class="main-footer">
  <div class="footer-left">
    Copyright &copy; 2024 <div class="bullet"></div> Design By <a href="https://nauval.in/">Stisla</a> <div class="bullet"></div> Graphic By <a href="https://www.freepik.com/">Freepik</a>
  </div>
  <div class="footer-right">
    
  </div>
</footer> -->
</div>
</div>

<!-- General JS Scripts -->
<script src="{$baseurl}assets/modules/jquery.min.js"></script>
<script src="{$baseurl}assets/modules/popper.js"></script>
<script src="{$baseurl}assets/modules/tooltip.js"></script>
<script src="{$baseurl}assets/modules/bootstrap/js/bootstrap.min.js"></script>
<script src="{$baseurl}assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
<script src="{$baseurl}assets/modules/moment.min.js"></script>
<script src="{$baseurl}assets/js/stisla.js"></script>

<!-- JS Libraies -->
<script src="{$baseurl}assets/modules/izitoast/js/iziToast.min.js"></script>

<!-- Page Specific JS File -->

<!-- Template JS File -->
<script src="{$baseurl}assets/js/scripts.js"></script>
<script src="{$baseurl}assets/js/custom.js"></script>

<script>
  $(document).ready(function() {
      // Add to cart
      $('.add-to-cart').click(function() {
          var data = {
              id: $(this).data('id'),
              qty: $(this).data('qty'),
              price: $(this).data('price'),
              name: $(this).data('name'),
              img: $(this).data('img')
          };

          $.post('{$baseurl}user/cart/add', data, function(response) {
              var cartData = JSON.parse(response);

              // Check if subtotal value is present
              if (cartData && cartData.subtotal !== undefined) {
                  // Update cart notification with subtotal and items count
                  $('#cart-subtotal').text(cartData.subtotal);
                  $('#cart-items-count').text(cartData.itemsCount);
              } else {
                  // Handle case where subtotal value is not present or invalid
                  console.error('Subtotal value is missing or invalid');
              }
          });
      });
  
      // Update cart
      $('.update-cart').click(function() {
          var data = {
              rowid: $(this).data('rowid'),
              qty: $(this).data('qty')
          };
          $.post('/cart/update', data, function(response) {
              // Handle response if needed
              console.log(response);
          });
      });
  
      // Remove from cart
      $('.remove-from-cart').click(function() {
          var data = {
              rowid: $(this).data('rowid')
          };
          $.post('/cart/remove', data, function(response) {
              // Handle response if needed
              console.log(response);
          });
      });
  });
</script>
</body>
</html>