<div class="navbar-bg" style="background-image: url({$baseurl}assets/img/back-yellow-hd.png); background-size: cover; background-repeat: no-repeat;"></div>
  <nav class="navbar navbar-expand-lg main-navbar">
    <div class="mr-auto" style="margin-top: 15px; position: fixed;">
      <ul class="navbar-nav mr-3">
        <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars" style="color: #0B5E91;"></i></a></li>

        <li>
          
        </li>
      </ul>

      <!-- <ul class="navbar-nav navbar-right" style="margin-top: 15px; position: fixed;"></ul> -->
    </div>
  </nav>