
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
	<title>Admin - Digital Student Lounge</title>
	<link rel="shortcut icon" href="{$baseurl}assets/img/food-icon.png" />

	<!-- General CSS Files -->
	<link rel="stylesheet" href="{$baseurl}assets/modules/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="{$baseurl}assets/modules/fontawesome/css/all.min.css">
  
	<!-- CSS Libraries -->
	<link rel="stylesheet" href="{$baseurl}assets/modules/datatables/datatables.min.css">
	<link rel="stylesheet" href="{$baseurl}assets/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="{$baseurl}assets/modules/datatables/Select-1.2.4/css/select.bootstrap4.min.css">
	<link rel="stylesheet" href="{$baseurl}assets/modules/jquery-selectric/selectric.css">
	<link rel="stylesheet" href="{$baseurl}assets/modules/izitoast/css/iziToast.min.css">

	<link href="{$baseurl}assets/modules/datatables/DataTables-1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="{$baseurl}assets/modules/datatables/Responsive-2.2.1/css/responsive.dataTables.min.css" rel="stylesheet">
  
	<!-- Template CSS -->
	<link rel="stylesheet" href="{$baseurl}assets/css/style.css">
	<link rel="stylesheet" href="{$baseurl}assets/css/components.css">

</head>

<body>
	<div id="app">
		<div class="main-wrapper main-wrapper-1">
			
			{include $header_view}

			{include $sidebar_view}

			<!-- Main Content -->
			<div class="main-content" style="z-index: +2;">
				<section class="section">
					<div class="section-body" style="margin-top: 50px;">

					{include $template_content}

				</section>
			</div>

			{include $footer_view}
			