<footer class="main-footer">
    <div class="footer-left">
      Copyright &copy; 2024 <div class="bullet"></div> Digital Student Lounge
    </div>
    <div class="footer-right">
      
    </div>
  </footer>
</div>
</div>

<!-- General JS Scripts -->
<script src="{$baseurl}assets/modules/jquery.min.js"></script>
<script src="{$baseurl}assets/modules/popper.js"></script>
<script src="{$baseurl}assets/modules/tooltip.js"></script>
<script src="{$baseurl}assets/modules/bootstrap/js/bootstrap.min.js"></script>
<script src="{$baseurl}assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
<script src="{$baseurl}assets/modules/moment.min.js"></script>
<script src="{$baseurl}assets/js/stisla.js"></script>

<!-- JS Libraies -->
<script src="{$baseurl}assets/modules/datatables/datatables.min.js"></script>
<script src="{$baseurl}assets/modules/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="{$baseurl}assets/modules/datatables/Select-1.2.4/js/dataTables.select.min.js"></script>
<script src="{$baseurl}assets/modules/jquery-ui/jquery-ui.min.js"></script>
<script src="{$baseurl}assets/modules/jquery-selectric/jquery.selectric.min.js"></script>
<script src="{$baseurl}assets/modules/izitoast/js/iziToast.min.js"></script>

<!-- Page Specific JS File -->
<script src="{$baseurl}assets/js/page/modules-datatables.js"></script>

<!-- Template JS File -->
<script src="{$baseurl}assets/js/scripts.js"></script>
<script src="{$baseurl}assets/js/custom.js"></script>

{if isset($notifApp) && $notifApp != NULL}
    <script>
        var pesan	= "{$notifApp['message']}";
        var warna	= "{$notifApp['color']}";
        var type	= '';
        
        if (warna == 'red') {
            type = 'error';
        } else {
            type = 'success';
        }

        // Automatically show iziToast notification when the page loads
        document.addEventListener('DOMContentLoaded', function() {
            iziToast[type]({
            message: pesan, // Use the JavaScript variable here
            position: 'topCenter',
            color: warna,
            });
        });
    </script>
{/if}

</body>
</html>