<footer class="main-footer">
	<div class="footer-left">
	  Copyright &copy; 2024 <div class="bullet"></div> Digital Student Lounge
	</div>
	<div class="footer-right">
	  
	</div>
  </footer>
</div>
</div>

<!-- General JS Scripts -->
<script src="{$baseurl}assets/modules/jquery.min.js"></script>
<script src="{$baseurl}assets/modules/popper.js"></script>
<script src="{$baseurl}assets/modules/tooltip.js"></script>
<script src="{$baseurl}assets/modules/bootstrap/js/bootstrap.min.js"></script>
<script src="{$baseurl}assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
<script src="{$baseurl}assets/modules/moment.min.js"></script>
<script src="{$baseurl}assets/js/stisla.js"></script>

<!-- JS Libraies -->
<script src="{$baseurl}assets/modules/datatables/datatables.min.js"></script>
<script src="{$baseurl}assets/modules/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="{$baseurl}assets/modules/datatables/Select-1.2.4/js/dataTables.select.min.js"></script>
<script src="{$baseurl}assets/modules/jquery-ui/jquery-ui.min.js"></script>
<script src="{$baseurl}assets/modules/jquery-selectric/jquery.selectric.min.js"></script>
<script src="{$baseurl}assets/modules/izitoast/js/iziToast.min.js"></script>

<!-- DataTables Buttons JS -->
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>

<!-- Page Specific JS File -->
<script src="{$baseurl}assets/js/page/modules-datatables.js"></script>

<!-- Template JS File -->
<script src="{$baseurl}assets/js/scripts.js"></script>
<script src="{$baseurl}assets/js/custom.js"></script>

{if isset($notifApp) && $notifApp != NULL}
	<script>
		var pesan	= "{$notifApp['message']}";
		var warna	= "{$notifApp['color']}";
		var type	= '';
		
		if (warna == 'red') {
			type = 'error';
		} else {
			type = 'success';
		}

		// Automatically show iziToast notification when the page loads
		document.addEventListener('DOMContentLoaded', function() {
			iziToast[type]({
			message: pesan, // Use the JavaScript variable here
			position: 'topCenter',
			color: warna,
			});
		});
	</script>
{/if}

<script>
    $(document).ready(function() {
        // Function to get the URL parameter
        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        };

        // Get the date parameter from the URL
        let date = getUrlParameter('date');

        // If no date parameter is provided, use today's date
        if (!date) {
            let today = new Date();
            date = today.getFullYear() + '-' + String(today.getMonth() + 1).padStart(2, '0') + '-' + String(today.getDate()).padStart(2, '0');
        }

        // Initialize the DataTable with export buttons
        var table = $("#tableTrans").DataTable({
            dom: 'Blfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    title: 'Laporan Penjualan Digital Student Lounge | ' + date,
                    className: 'btn btn-success',
                    text: 'Export to Excel'
                },
                {
                    extend: 'csvHtml5',
                    title: 'Laporan Penjualan Digital Student Lounge | ' + date,
                    className: 'btn btn-warning',
                    text: 'Export to CSV'
                },
                {
                    extend: 'pdfHtml5',
                    title: 'Laporan Penjualan Digital Student Lounge | ' + date,
                    className: 'btn btn-danger',
                    text: 'Export to PDF',
                    customize: function (doc) {
                        // Full-width table in PDF
                        doc.content[1].table.widths = Array(doc.content[1].table.body[0].length + 1).join('*').split('');

                        // Center-align table content
                        var objLayout = {};
                        objLayout['hLineWidth'] = function(i) { return .5; };
                        objLayout['vLineWidth'] = function(i) { return .5; };
                        objLayout['hLineColor'] = function(i) { return '#aaa'; };
                        objLayout['vLineColor'] = function(i) { return '#aaa'; };
                        objLayout['paddingLeft'] = function(i) { return 4; };
                        objLayout['paddingRight'] = function(i) { return 4; };
                        objLayout['paddingTop'] = function(i) { return 2; };
                        objLayout['paddingBottom'] = function(i) { return 2; };
                        objLayout['default'] = false;
                        doc.content[1].layout = objLayout;

                        // Center-align table headers and body
                        doc.styles.tableHeader.alignment = 'center';
                        doc.styles.tableBodyOdd.alignment = 'center';
                        doc.styles.tableBodyEven.alignment = 'center';
                    }
                }
            ]
        });

        // Move the buttons to the desired container
        table.buttons().container().appendTo('#button-container');
    });
</script>


</body>
</html>